@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100dvh;
    margin: 0;
    padding: 0;
}

input:default {
    border: #E5E7EB 1px solid;
}

input:user-invalid {
    border: red 1px solid;
}

input:focus {
    border: blue 0.25px solid;
}

.container {
    display: flex;
    height: 100dvh;
    font-family: 'source_sans_proregular', monospace;
}

.sideBar {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    background-image: url("/adventure-background.jpg");
    justify-content: center;
    align-items: center;
}

.sideBarFooter {
    color: white;
}

.logo {
    background-color: black;
    opacity: 0.1;
}

header {
    background-color: rgb(249, 248, 248);
    padding: 3rem;
    padding-top: 6rem; 
    font-weight: bolder;
    font-size: 1.5rem;
    text-wrap: wrap;
}

.openingStatement {
    width: 90%;
}

.signUpForm {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0.5em 3rem 2rem;
    font-size: 12px;
    border-bottom: 2px solid #dfdfdf;
    gap: 1rem;
}

.fieldContainer {
    display: flex;
    gap: 3rem;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: 900;
    color: darkslategrey;
}

.inputField input {
    width: 15em;
    border: 1px solid lightgray;
}

.inputField label {
    padding-top: 0.25rem;
}

.footer {
    flex: auto;
    padding: 3rem;
}

input[type="submit"] {
    background-color: #596D48;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.footer a {
    text-decoration: none;
    color: #596D48;
    font-weight: 900;
}